body {
  background-color: black !important;
}

#container {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.display {
  box-sizing: border-box;
  padding: 15px;
  width: 39%;
  height: 50%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.title {
  color: white;
  width: 30%;
}


canvas {
  border: 2px solid rgb(114, 165, 227);
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin: auto;
}

#master {
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
  text-align: center;
}